
body{
    margin:0;
    overflow: hidden;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}


#carCanvas{
    background: lightgray;;
}
#networkCanvas{
    background: black;;
}
button{
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 5px 5px;

}

button:hover{
    background-color: aqua;
}
#controlButtons{
    display: flex;
    flex-direction: column;
}